<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <a href="/"><li>Home</li></a> 
        <a href="/products"><li>Catalogo</li></a> 
        <a href="/products/create"><li>Alta de producto</li></a> 
        <a href="/users/signin"><li>Registro</li></a> 
        <a href="/users/login"><li>Login</li></a> 
      </ul>
    </nav>
    <h1><%= title %></h1>
    <p>Mira nuestros <%= subtitle %></p>

    <% productos.forEach(function(producto){ %>
      <div style="border: 1px dotted #c3c3c3; padding: 20px; margin: 10px;">
        <h2><%= producto.nombre %></h2>
        <!-- <p><%= producto.detalle %></p> -->
        <span>$ <%= producto.precio %></span>
        <a href="/products/detail/<%= producto.id %>"><span style="float:right; background: silver; color: black; padding: 5px; border-radius: 3px; border-style: outset">Ver detalle</span></a>
      </div>
      <% }) %>
      
  </body>
</html>
